* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Golos Text', Helvetica, sans-serif;
}

body {
  background-color: #292c37;
  color: #cccccc;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

/* Estilos da scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1b1d24;
}

::-webkit-scrollbar-thumb {
  background-color: #9f111b;
  border-radius: 10px;
  border: 2px solid #1b1d24;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d31e2e;
}

.lists {
  margin-top: -70px;
}