* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Golos Text', Helvetica, sans-serif;
}

body {
  background-color: #292c37;
  color: #cccccc;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

.link {
  font-size: 2.5rem;
  color: #b11623;
  transition: all ease-in 0.2s;
}

.link:hover {
  opacity: 0.8;
}